<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>About</h1>
    <h2>
      Ce système permet de créer des bugs que l'ont a relevé sur un système.
      Nous pouvons éditer voir et supprimer les bugs.<br/>

      Le système de commentaire de chaque bug est en cours d'élaboration.
      Vous en retrouverez certaines traces dans le code.
    </h2>
  </div>
  </body>
</html>