<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="center jumbotron">
  <h1>Bug Tracker</h1>

  <h2>
       Ce site fait l'objet du second partiel de la classe de 3A Développement a l'EEMI.
  </h2>

  <%= link_to "Identifier un bug ", controller: "bugs", class: "btn btn-lg btn-primary" %>
</div>

  </body>
</html>