<h1>Editing Bug</h1>

<%= render 'form' %>

<button type="button" class="btn btn-info"><%= link_to 'Show', @bug %></button>
<button type="button" class="btn btn-default"><%= link_to 'Back', bugs_path %></button>
